body{
    margin:0;
    background-color: rgb(228, 242, 237);
    position: relative;
}

.main-game{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.genius{
    display: grid;
    grid-template-areas: 'verde vermelho'
    'amarelo azul';
    grid-gap: 10px;
    border: 1px solid #ffffff;
    background-color: #ffffff;
    border-radius: 100%;
    margin-top: 30px;
    width: 700px;
    height: 700px;
}

.blue{
    grid-area: azul;
    background-color: blue;
    border-bottom-right-radius: 100%;
}

.red{
    grid-area: vermelho;
    background-color: red;
    border-top-right-radius: 100%;
}

.yellow{
    grid-area: amarelo;
    background-color: yellow;
    border-bottom-left-radius: 100%;
}

.green{
    grid-area: verde;
    background-color: green;
    border-top-left-radius: 100%;
}

.selected{
    opacity: 0.1;
}

#mute{
    padding: 10px;
    margin: 50px;
    background-color: #fff;
    display: flex;
    width: 30px;
    height: 30px;
    border-radius: 10%;
    border: 3px solid black;
    margin-top: 100px;
    margin-left: 40px;
    position: absolute;
    right: 10px;
    top: 0;
}

.lives img{
    padding: 10px;
    margin: 10px;
    width: 30px;
    height: 30px;
}

.lives{
    padding: 10px;
    padding-bottom: 0;
    position: absolute;
    right: 10px;
    top: 0;
}

.pontuacao{
    border: 2px solid rgb(61, 167, 109);
    padding: 10px;
    margin: 10px;
    width: 220px;
    position:absolute;
    border-radius: 10%;
    background-color: #fff;
    align-items: flex-end;
    display: grid;
    top : 100px;
    left: 10px;
}

.pontuacao div h4{
    display: inline-block;
}

#reset{
    position:absolute;
    right: 130px;
    top: 115px;
}

.level{
    border: 2px solid rgb(61, 167, 109);
    border-radius: 10%;
    background-color: #fff;
    padding: 20px;
    display: inline-table;
    left: 10px;
    top: 10px;
    position: absolute;
    margin: 10px;
    width: 200px;
    align-items: center;
    justify-content: center;
}

#changeLevel{
    position: relative;

    align-self: center;
    float: center;
}